<a href="https://colab.research.google.com/github/BileOara/REGRESSION/blob/master/Predict_Regression_LM_v02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Statement

#### Context
**Economies are better when logistics is efficient and affordable**

Sendy, in partnership with insight2impact facility, is hosting a Zindi challenge to predict the estimated time of delivery of orders, from the point of driver pickup to the point of arrival at final destination. 
Sendy helps men and women behind every type of business to trade easily, deliver more competitively, and build extraordinary businesses.

#### Why Solve this problem?
The solution will help Sendy enhance customer communication and improve the reliability of its service; which will ultimately improve customer experience. In addition, the solution will enable Sendy to realise cost savings, and ultimately reduce the cost of doing business, through improved resource management and planning for order scheduling.

An accurate arrival time prediction will help all businesses to improve their logistics and communicate an accurate time to their customers. 

#### What will be done?
Given the details of a Sendy order, historic data will be used to predict the time of arrival of a rider at the destination of a package as accurately as possible.

#### How will this be done

By building a linear regression model that predicts an accurate delivery time, from picking up a package to arriving at the final destination.

# 1. Data Pre-Processing

## 1.1 Load Libraries

In [0]:
# Import modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Figures inline and set visualization style
%matplotlib inline
sns.set()

## 1.2 Check Datasets

In [5]:
# List all files in a directory using os.listdir
basepath = '/Zindi Data/'
for entry in os.listdir(basepath):
    if os.path.isfile(os.path.join(basepath, entry)):
        print(entry)

SampleSubmission.csv
Riders.csv
VariableDefinitions.csv
Test.csv
Train.csv

#### Check that all datasets are accounted for

The files for download according to the hackathon:

* `Train.csv` - is the dataset that you will use to train your model
* `Test.csv` - is the dataset on which you will apply your model to.
* `Riders.csv` - contains unique rider Ids, number of orders, age, rating and number of ratings
* `VariableDefinitions.csv` - Definitions of variables in the Train, Test and Riders files

The above files are accounted for.

An additional file, `SampleSubmission.csv` was available for download as well

## 1.3 Import the datasets

In [0]:
# import Datasets
data_folder = '/Zindi Data/'

train_df = pd.read_csv(data_folder + 'Train.csv')
test_df = pd.read_csv(data_folder + 'Test.csv')
riders_df = pd.read_csv(data_folder + 'Riders.csv')
variable_definitions_df = pd.read_csv(data_folder + 'VariableDefinitions.csv', header=None,
                                      names=['Variable', 'Definition'])
sample_submission_df = pd.read_csv(data_folder + 'SampleSubmission.csv')

In [7]:
# check training data
train_df.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [8]:
# check test data
test_df.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [9]:
# check riders
riders_df.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [10]:
# Check variable definitions
variable_definitions_df.head()

               Variable                                         Definition
0              Order No                Unique number identifying the order
1               User Id  Unique number identifying the customer on a pl...
2          Vehicle Type  For this competition limited to bikes, however...
3         Platform Type  Platform used to place the order, there are 4 ...
4  Personal or Business                                      Customer type

In [11]:
# check sample submission
sample_submission_df.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

#### Prelimenary observation
Based on DataFrame previews it can be assumed that of all data were successfully imported. the following data will form part of the regression analysis:
* `train_df`
* `test_df`
* `riders_df`

`variable_definitions_df` privides definitions of the variables

`sample_submission_df` is a template for the submission of model predictions for this project

## 1.4 Assess Data

### 1.4.1 Assess variable definitions

In [0]:
# Get variable definitions
print(f'Number of variables: {len(variable_definitions_df)}\n',
     '======================================= \n')
for var, definition in variable_definitions_df.values:
    print(f'{var}:\nDef:{definition}\n')

Number of variables: 36
 =======================================

Order No:
Def:Unique number identifying the order

User Id:
Def:Unique number identifying the customer on a platform

Vehicle Type:
Def:For this competition limited to bikes, however in practice Sendy service extends to trucks and vans

Platform Type:
Def:Platform used to place the order, there are 4 types

Personal or Business:
Def:Customer type

Placement - Day of Month:
Def:Placement - Day of Month i.e 1-31

Placement - Weekday (Mo = 1):
Def:Placement - Weekday (Monday = 1)

Placement - Time:
Def:Placement - Time - Time of day the order was placed

Confirmation - Day of Month:
Def:Confirmation - Day of Month i.e 1-31

Confirmation - Weekday (Mo = 1):
Def:Confirmation - Weekday (Monday = 1)

Confirmation - Time:
Def:Confirmation - Time - Time of day the order was confirmed by a rider

Arrival at Pickup - Day of Month:
Def:Arrival at Pickup - Day of Month i.e 1-31

Arrival at Pickup - Weekday (Mo = 1):
Def:Arrival at Pickup - Weekday (Monday = 1)

Arrival at Pickup - Time:
Def:Time of day the the rider arrived at the location to pick up the order - as marked by the rider through the Sendy application

Pickup - Day of Month:
Def:Pickup - Day of Month i.e 1-31

Pickup - Weekday (Mo = 1):
Def:Pickup - Weekday (Monday = 1)

Pickup - Time:
Def:Pickup - Time - Time of day the the rider picked up the order - as marked by the rider through the Sendy application

Arrival at Destination - Day of Month:
Def:Arrival at Delivery - Day of Month i.e 1-31

Arrival at Destination - Weekday (Mo = 1):
Def:Arrival at Delivery - Weekday (Monday = 1)

Arrival at Destination - Time:
Def:Arrival at Delivery Time - Time of day the rider arrived at the destination to deliver the order - as marked by the rider through the Sendy application

Distance (KM):
Def:The distance from Pickup to Destination

Temperature:
Def:Temperature at the time of order placement in Degrees Celsius (measured every three hours)

Precipitation in millimeters:
Def: Precipitation at the time of order placement (measured every three hours)

Pickup Lat:
Def:Latitude of pick up location

Pickup Long:
Def:Longitude of pick up location

Destination Lat:
Def:Latitude of delivery location

Destination Long:
Def:Longitude of delivery location

Rider Id:
Def: ID of the Rider who accepted the order

Time from Pickup to Arrival:
Def:Time in seconds between 'Pickup' and 'Arrival at Destination' - calculated from the columns for the purpose of facilitating the task

nan:
Def:nan

Rider Metrics:
Def:nan

Rider Id:
Def:Unique number identifying the rider (same as in order details)

No_Of_Orders:
Def: Number of Orders the rider has delivered

Age:
Def:Number of days since the rider delivered the first order

Average_Rating:
Def:Average rating of the rider

No_of_Ratings:
Def: Number of ratings the rider has received. Rating an order is optional for the customer.

### 1.4.2 Assess dataset dimensions, variables, missing data and data types

In [0]:
# define function to calculate missing values
def missing_values_table(df):
    """
    This function takes a dataframe as input and returns a dataframe
    of the number and percentage of missing values as and output.
    """
    mis_val = df.isnull().sum()

    mis_val_percent = 100 * df.isnull().sum() / len(df)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})

    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)

    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [13]:
# Assess Train dataset dimensions, variables and datatypes
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [14]:
# Assess Train dataset missing values
missing_values_table(train_df)

Your selected dataframe has 29 columns.
There are 2 columns that have missing values.

                              Missing Values  % of Total Values
Precipitation in millimeters           20649               97.4
Temperature                             4366               20.6

In [15]:
# Assess Test dataset dimensions, variables and datatypes
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7068 entries, 0 to 7067
Data columns (total 25 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              7068 non-null   object
 1   User Id                               7068 non-null   object
 2   Vehicle Type                          7068 non-null   object
 3   Platform Type                         7068 non-null   int64
 4   Personal or Business                  7068 non-null   object
 5   Placement - Day of Month              7068 non-null   int64
 6   Placement - Weekday (Mo = 1)          7068 non-null   int64
 7   Placement - Time                      7068 non-null   object
 8   Confirmation - Day of Month           7068 non-null   int64
 9   Confirmation - Weekday (Mo = 1)       7068 non-null   int64
 10  Confirmation - Time                   7068 non-null   object
 11  Arrival at Pickup - Day of Month      7068 non-null   int64
 12  Arrival at Pickup - Weekday (Mo = 1)  7068 non-null   int64
 13  Arrival at Pickup - Time              7068 non-null   object
 14  Pickup - Day of Month                 7068 non-null   int64
 15  Pickup - Weekday (Mo = 1)             7068 non-null   int64
 16  Pickup - Time                         7068 non-null   object
 17  Distance (KM)                         7068 non-null   int64
 18  Temperature                           5631 non-null   float64
 19  Precipitation in millimeters          199 non-null    float64
 20  Pickup Lat                            7068 non-null   float64
 21  Pickup Long                           7068 non-null   float64
 22  Destination Lat                       7068 non-null   float64
 23  Destination Long                      7068 non-null   float64
 24  Rider Id                              7068 non-null   object
dtypes: float64(6), int64(10), object(9)
memory usage: 1.3+ MB

In [16]:
# Assess Test dataset missing values
missing_values_table(test_df)

Your selected dataframe has 25 columns.
There are 2 columns that have missing values.

                              Missing Values  % of Total Values
Precipitation in millimeters            6869               97.2
Temperature                             1437               20.3

In [17]:
# Assess rider dataset dimensions, variables and datatypes
riders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rider Id        960 non-null    object
 1   No_Of_Orders    960 non-null    int64
 2   Age             960 non-null    int64
 3   Average_Rating  960 non-null    float64
 4   No_of_Ratings   960 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 37.6+ KB

In [18]:
# Assess riders dataset missing values
missing_values_table(riders_df)

Your selected dataframe has 5 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []